<div class="material-icons mdl-badge mdl-badge--overlap mdl-button--icon notification" id="notification"
     [attr.data-badge]="notifications.length">
  notifications_none
</div>

<ul class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-shadow--2dp notifications-dropdown" for="notification" style="background-color:white!important;">
  <li class="mdl-list__item">
    <div class="header-cart-wrapitem header-dropdown">
      <ul class="header-cart-wrapitem" style="padding:0px!important;">
        <li class="header-cart-item">
          <div class="header-cart-item-img">
            <img src="../../../assets/images/item-cart-01.jpg" alt="IMG">
          </div>

          <div class="header-cart-item-txt">
            <a href="#" class="header-cart-item-name">
              White Shirt With Pleat Detail Back
            </a>

            <span class="header-cart-item-info">
              1 x $19.00
            </span>
          </div>
        </li>
      </ul>

      <div class="header-cart-total">
        Total: $75.00
      </div>

      <div class="header-cart-buttons">
        <div class="header-cart-wrapbtn">
          <a href="#!/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
            View Cart
          </a>
        </div>

        <div class="header-cart-wrapbtn">
          <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
            Check Out
          </a>
        </div>
      </div>
    </div>
  </li>
  
</ul>
